@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mint: rgb(74, 227, 181);
  --grey: rgb(238, 238, 238);
  --mint-green: rgb(42, 93, 103);
  --black: rgb(23, 19, 50);
}




.l-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 18px;
}
